@include tablet {
    .ads-container {
        @include grid(3, 2rem);
    };
};

.ad {
    background-color: lighten($gray, 5); // Makes the color lighter, in this case a 5%
    border: 1px solid darken($gray, 10); // Makes the color darker, in this case a 10%
    margin-bottom: 2rem;

    .ad-content {
        padding: 2rem;
    };

    h3, p {
        margin: 0;
    };
};

.price {
    color: $green;
    font-weight: $bold;
    font-size: 3rem;
};

.icons-characteristics {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 2rem;
    max-width: 40rem;

    li {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            flex: 0 0 5rem;
            margin-right: 1rem;
        };

        p {
            font-weight: $bolder;
        };
    };
};