.footer {
    padding: 2.5rem 0;
    background-color: $darkGray;
    margin-bottom: 0;

    .footer-content {
        padding-top: 2.5rem;
    };

    .navigation {
        visibility: visible;
        opacity: 1;
        // height: auto;
    };

    .copyright {
        color: $white;
        text-align: center;
    };
};